.monaco-editor-container {
  --_monaco-loading-background: var(
    --monaco-loading-background,
    #fff
  );
  --_monaco-loading-color: var(
    --monaco-loading-color,
    #667085
  );
}

.monaco-editor-container .editor-loading {
  background: var(--_monaco-loading-background);
  color: var(--_monaco-loading-color);
}
